{% extends 'base.html' %}

{% block title %}Reg Form {% endblock %}

{% block content %}
<div class="container">
        <div class="title">
            Registration
        </div>
            <form action="{{url_for('form')}}" id="form" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text"  placeholder="Enter Your Name" id="fname" name="fname" maxlength="51">
                        <span id="fname_error" class="erspan"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" placeholder="Enter Your Username" id="uname" maxlength="9" name="uname">
                        <span id="uname_error" class="erspan"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter Your Email" id="email" name="email" maxlength="55">
                        <span id="email_error" class="erspan"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter Your Phone Number" id="pnumber" name="pnumber" maxlength="10">
                        <span id="pnumber_error" class="erspan"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Enter Your Password" id="pass" name="pas">
                        <span id="pass_error" class="erspan"></span>
                    </div>
                    <div class="input-box">
                        <span class="details">Confrim Password</span>
                        <input type="password" placeholder="Confrim Your Password" id="cpass" name="cpass">
                        <span id="cpass_error" class="erspan"></span>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" value="male" id="dot-1" class="genderbtn">
                    <input type="radio" name="gender" value="female" id="dot-2" class="genderbtn">
                    <input type="radio" name="gender"  value="Pefer not to say" id="dot-3" class="genderbtn" checked>
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Pefer not to say</span>
                        </label>
                    </div>
                    <span id="gen_error" class="erspan"></span>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
    </div>
{% endblock %}